/* Web Fonts ----------------------- */


/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em; /* 20px on most screens */
}

body {
  font: 300 100%/1.5 "Open Sans", sans-serif;
}

nav, header, main, aside, footer {
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
}

li, a {
  text-decoration: none;
}

a, aside h3 {
  text-transform: uppercase;
}

header {
  padding-bottom: 2rem;
}

header img, section img {
  width: 100%; /* responsive images */
}

p {
  text-align: center;
  font-size: .77rem;
}

main {
  padding: 2rem 0;
  background-color: white;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  padding: 1.5rem 0;
  font-weight: bold;
}

h2 {
  padding: 1rem 0 .5rem 0;
  font-weight: 500;
}

section {
  padding: 1rem 0;
}

h3 {
  padding: 2.5rem 0 1.5rem 0;
  font-weight: 500;
}

aside {
  border-bottom: 2px solid lightgrey;
}

span {
  padding: 0 .5rem;
  font-weight: bold;
  color: dimgrey;
}

footer ul {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

footer li {
  padding: 1rem 0 1.7rem 0;
  font-size: .75rem;
  font-weight: 600;
}

a {
  color: black;
}

/* Main Styles --------------------- */
.wrapper {
  background-color:whitesmoke;
}

.main-nav .name, .nav a {
  display: block;
  padding: .25rem 1rem;
  text-align: center;
  font-weight: bold;
}

.main-nav .name {
  padding-top: 1rem;
  margin: 0 auto 1rem auto;
  font-size: 1.4rem;
}

.nav a {
  margin: 1rem auto;
  text-decoration: none;
  font-size: 1rem;
  background-color: white;
  color: black;
}

header img {
  padding: 1.5rem 2.2rem 1.2rem 2.2rem;
}

header p {
  color: gray;
}

aside ul {
  padding: 1rem 0 2rem 0;
}

aside li {
  display: block;
  padding: .25rem 0;
  text-align: center;
  font-size: .77rem;
}

/* hide footer nav on small screens */
.footer_768min {
  display: none;
}

/* Media Queries ------------------- */
@media (min-width: 768px) {
  nav, header, main, aside, footer {
    width: 93%;
    margin: auto;
  }

  .main-nav .name {
    margin: 0 auto 0 auto;
}

  .nav, header, main {
    display: flex;
  }

  .nav, main {
    flex-wrap: wrap;
  }

  .nav .name {
    padding-top: 2rem;
    width: 100%;
    min-width: 100%;
  }

  .nav {
    justify-content: center;
  }

  .nav a {
    font-size: .8rem;
    background-color: whitesmoke;
  }
	
  header {
    flex-direction: row-reverse;
  }

  header img {
    padding: 1.5rem 0 1.2rem .25rem;
    width: 40%;
  }

  header p {
    padding: 1.5rem .25rem 1.2rem 0;
    text-align: left;
    font-size: 1rem;
  }

  h1 {
    width: 100%;
    min-width: 100%;
    font-size: .8rem;
  }

  section {
    flex-basis: 50%;
  }

  section img {
    padding: 0 .25rem 0 .25rem;
  }

  section p {
    padding: 0 1.9rem;
  }

  h3 {
    font-size: .8rem;
  }

  aside p {
    padding: 0 7.5rem;
  }

  footer {
    padding-bottom: 2rem;
  }

  footer a {
    padding: 0 1rem;
  }

  footer a:last-of-type {
    padding-right: 0;
  }

  footer .name {
    margin-right: auto; 
  }

  footer .name, .footer_768min {
    font-size: .65rem;
  }

  .footer_mobile {
    display: none;
  }

  .footer_768min {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: whitesmoke;
  }

  .main-nav {
    padding-top: 1rem;
  }

  .main-nav .name {
    margin: 0;
    padding: 0;
  }

  .nav .name {
    display: flex;
    margin: 1rem auto 1rem 0;
    padding: .25rem 1rem;
    width: fit-content;
    min-width: fit-content;
  }

  header {
    padding: 0 1rem;
  }

  main {
    padding: 2rem 1rem;
  }

  section {
    flex-basis: 33%;
  }

  aside p {
    padding: 0 13rem;
  }

  footer {
    padding-bottom: 0;
  }

  footer li {
    padding: 1rem 0;
  }
}
