/* Web Fonts ----------------------- */


/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20px on most screens */
}
body {
  width: 90%;
  margin: auto;
  font: 300 100%/1.5 "Open Sans", sans-serif;
  background-color:whitesmoke;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}
img {
  width: 100%; /* responsive images */
}


/* Main Styles --------------------- */
.name, .nav a {
  display: block;
  padding: .25rem 1rem;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.10rem;
  background-color: white;
  color: black;
}


/* Media Queries ------------------- */
